<div class="section">
  <%= render "sidebar" %>

  <% @posts = Post.where(p_type: "blog") %>

  <div class="container blog">
    <div class="posts">
      <% if @posts %>
        <% @posts.each do |post| %>
          <div class="post">
            <%= link_to "/blog/#{post.title}" do %>
              <%= image_tag post.meta_image %>
              <%= post.title %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>
