<style>
  @media screen and (min-width: 1201px) {
    .menu-links {
      background-color: #F1F0EC;
    }
  }
</style>

<div class="section">
  <%= render "sidebar" %>

  <div class="container blog">
    <div class="posts">
      <% if @posts %>
        <% @posts.each do |post| %>
          <%= link_to "/blog/#{post.title}" do %>
            <div class="post" style="background: url(<%= post.meta_image %>) no-repeat center / cover">
              <h4><%= post.title %><br><span><%= post.created_at.strftime("%d/%m/%Y") %></span></h4>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>

<script>
  window.onscroll = function() {
    // Check if the screen width is greater than 960px
    var navbar = document.querySelector('.sidebar');
      if (window.scrollY > 0) {
        navbar.style.top = '0';
      } else {
        navbar.style.top = '60px';
      }
  };
</script>
