<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> 

  <style>
    /* Define the sliding animation */
    @keyframes slideUp {
      0% { transform: translateY(100%); opacity: 0; }
      100% { transform: translateY(0); opacity: 1; }
    }

    @keyframes slideDown {
      0% { transform: translateY(0); opacity: 1; }
      100% { transform: translateY(100%); opacity: 0; }
    }

    /* Apply the animation to the .hidden class */
    .hidden {
      position: relative;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-duration: 1s;
      opacity: 0;
    }
  </style>

<div class="section">
  <%= render "sidebar" %>

  <div class="container landing">
    <h1>
      <span class="text-slide-in">hello,</span><br>
      <span class="text-slide-in">i am alexis sae an</span><br>
      <span class="text-slide-in">a full-stack develper,</span><br>
      <span class="text-slide-in">environmentalist, reader,</span><br>
      <span class="text-slide-in">coffee-addict, sane cat lady.</span>
    </h1>
    <div class="images-container">
      <div class="images">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1691238594/IMG_1507_kg20bm.jpg" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1691238652/IMG_6875_pqmryx.jpg" %>
      </div>
      <div class="images">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1691239234/11065_l0bfs2.jpg" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1691242259/fg_pfhywd.jpg" %>
      </div>
    </div>
  </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>
