<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Tsukimi+Rounded:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Tsukimi+Rounded:wght@300&display=swap" rel="stylesheet">


<div class="container">
  <div class="body">
    <%= render "landing" %>
    <%= render "bio" %>
    <%= render "gallery" %>
    <%= render "links" %>
    <%= render "projects" %>
  </div>
  <%= render "sidebar" %>
</div>
