<div class="section">
  <%= render "sidebar" %>

  <div class="container projects">
    <div class="project">
      <div class="logo">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623041320/logo-3_w2thb5.png", alt: "logo" %>
      </div>
      <div class="thumbnails">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1649162739/Screen_Shot_2022-04-05_at_21.40.35_tnqftm.png", alt: "home" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623745835/Screen_Shot_2021-06-15_at_13.46.59_dwphvj.png", alt: "profile" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623745165/Screen_Shot_2021-06-15_at_13.46.29_aihxgx.png", alt: "chat" %>
      </div>
      <div class="text">
        <p>ConnecPet is a social networking service for pet-owers to connect,
        <br>hold or join events, and find pet-sitters nearby.
        <br>(Ruby on Rails, JS, HTML, CSS, ActiveRecord, PostgreSQL)</p>
        <p style ="color: #eabb00"><a href="https://weconnecpet.herokuapp.com">Go to Project</a></p>
      </div>
    </div>

    <div class="project">
      <div class="logo">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621996542/logo_hp9w9n.png", alt: "logo" %>
      </div>
      <div  class="thumbnails"class="images-2 mb-3">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623746716/Screen_Shot_2021-06-15_at_17.43.44_uwjdc0.png", alt: "home" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623746716/Screen_Shot_2021-06-15_at_17.44.38_sakgb8.png", alt: "index" %>
      </div>
      <div class="text">
        <p>Prankt is a Marketplace application to book pranking services
        <br>(Ruby on Rails, JS, HTML, CSS, ActiveRecord, PostgreSQL)</p>
        <p style ="color: #eabb00"><a href="https://prankt.herokuapp.com">Go to Project</a></p>
      </div>
    </div>


    <div class="project">
      <h1>ASMR Projects</h1>
      <div class="thumbnails">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624364694/rain_o10l4w.png", alt: "rain" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624377028/summer_iaayap.png", alt: "cicada" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624376431/beach_mxbwud.png", alt: "shell" %>
      </div>
      <div class="text">
        <p>ASMR website built using React</p>
        <a href="https://apprehensive-fig.github.io/a-rain-day/">Raih</a>
        <a href="https://apprehensive-fig.github.io/a-summer-day/">Summeh</a>
        <a href="https://apprehensive-fig.github.io/a-beach-day/">Beach</a>
      </div>
    </div>

    <div class="project">
      <div class="logo">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623907370/Screen_Shot_2021-06-17_at_14.20.58_1_dewxru.png", alt: "logo" %>
      </div>
      <div class="thumbnails">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623908674/Screen_Shot_2021-06-17_at_14.28.31_gpor4j.png", alt: "lists" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623908674/Screen_Shot_2021-06-17_at_14.30.10_vflcmn.png", alt: "bookmarks" %>
      </div>
      <div class="text">
        <p>Top Picks is a website where you can<br>create, customized lists of your favorite movies
        <br>(Ruby on Rails, JS, HTML, CSS)</p>
        <p style ="color: #eabb00"><a href="https://top-picks-movies.herokuapp.com">Go to Project</a></p>
      </div>
    </div>

    <div class="project">
      <h1>Magic 8 Ball</h1>
      <div class="thumbnails">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1625736699/IMG_6502_g0d20c.png", alt: "home" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1625736698/IMG_6501_jkks6a.png", alt: "profile" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1625737049/174ceklk_tlz430.png", alt: "chat" %>
      </div>
      <div class="text">
        <p>A Magic 8 Ball Chatbot on Line. It will answer all your questions</p>
        <p>(Ruby on Rails, Sinatra, Line API)</p>
       </div>
    </div>
  </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>
