<style>
  @media screen and (min-width: 1201px) {
    .menu-links {
      background-color: #F1F0EC;
    }
  }

  .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left,
  .right {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  .left img,
  .right img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    transition: transform 1s, visibility 0.1s;
  }

  .left img:nth-child(2),
  .right img:nth-child(2) {
    transform: scaleX(0) translateX(-50%);
    visibility: hidden;
  }

  /* Hover effect for left */
  .left:hover img:first-child {
    transform: scaleX(0) translateX(50%);
    visibility: hidden;
  }

  .left:hover img:nth-child(2) {
    transform: scaleX(1) translateX(0);
    visibility: visible;
  }

  /* Reset for left when not hovering */
  .left:not(:hover) img:first-child {
    transform: scaleX(1) translateX(0);
    visibility: visible;
  }

  .left:not(:hover) img:nth-child(2) {
    transform: scaleX(0) translateX(-50%);
    visibility: hidden;
  }

  /* Hover effect for right */
  .right:hover img:first-child {
    transform: scaleX(0) translateX(-50%);
    visibility: hidden;
  }

  .right:hover img:nth-child(2) {
    transform: scaleX(1) translateX(0);
    visibility: visible;
  }

  /* Reset for right when not hovering */
  .right:not(:hover) img:first-child {
    transform: scaleX(1) translateX(0);
    visibility: visible;
  }

  .right:not(:hover) img:nth-child(2) {
    transform: scaleX(0) translateX(-50%);
    visibility: hidden;
  }
</style>

<div class="section">
  <%= render "sidebar" %>

  <div class="container projects">
    <div class="project">
      <div class="left">
        <div class="text">
          <p>ConnecPet is a social networking service for pet-owers to connect,
          <br>hold or join events, and find pet-sitters nearby.
          <br>(Ruby on Rails, JS, HTML, CSS, ActiveRecord, PostgreSQL)</p>
        </div>
      </div>
      <div class="right">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1649162739/Screen_Shot_2022-04-05_at_21.40.35_tnqftm.png", alt: "homepage with illustration of 2 cats and 1 dog" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623745165/Screen_Shot_2021-06-15_at_13.46.29_aihxgx.png", alt: "social profile of a man and his cat" %>
      </div>
    </div>
  
      <div class="project">
        <div class="left">
          <div  class="thumbnails"class="images-2 mb-3">
            <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623746716/Screen_Shot_2021-06-15_at_17.43.44_uwjdc0.png", alt: "home" %>
            <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623746716/Screen_Shot_2021-06-15_at_17.44.38_sakgb8.png", alt: "list of prank services" %>
          </div>
        </div>
        <div class="right">
         <div class="text">
          <p>Prankt is a Marketplace application to book pranking services
          <br>(Ruby on Rails, JS, HTML, CSS, ActiveRecord, PostgreSQL)</p>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="left">
        <div class="text">
          <p>ASMR website built using React</p>
          <a href="https://apprehensive-fig.github.io/a-rain-day/">Rain</a>
          <a href="https://apprehensive-fig.github.io/a-summer-day/">Summeh</a>
          <a href="https://apprehensive-fig.github.io/a-beach-day/">Beach</a>
        </div>
      </div>
      <div class="right">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624364694/rain_o10l4w.png", alt: "raining window illustration" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624377028/summer_iaayap.png", alt: "cicada on a tree" %>
      </div>
    </div>

    <div class="project">
      <div class="left">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623908674/Screen_Shot_2021-06-17_at_14.28.31_gpor4j.png", alt: "movie lists" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623908674/Screen_Shot_2021-06-17_at_14.30.10_vflcmn.png", alt: "lord of the rings movie bookmark" %>
      </div>
      <div class="right">
        <div class="text">
          <p>Topicks is a website where you can<br>create, customized lists of your favorite movies
          <br>(Ruby on Rails, JS, HTML, CSS)</p>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="left">
        <div class="text">
          <p>A Magic 8 Ball Chatbot on Line. It will answer all your questions</p>
          <p>(Ruby on Rails, Sinatra, Line API)</p>
        </div>
      </div>
      <div class="right">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1625736699/IMG_6502_g0d20c.png", alt: "line application profile page" %>
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1625736698/IMG_6501_jkks6a.png", alt: "chat room with a line chatbot" %>
      </div>
    </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>

<script>
  window.onscroll = function() {
    // Check if the screen width is greater than 960px
    var navbar = document.querySelector('.sidebar');
      if (window.scrollY > 0) {
        navbar.style.top = '0';
      } else {
        navbar.style.top = '60px';
      }
  };
</script>